@import "tailwindcss";

#hero {
  background-image: url("../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 576px) {
  #hero {
    background-image: url("../images/mobile/image-hero.jpg");
    background-position: center;
  }
}

@theme {
  /* Fonts */
  --font-sans: "Josefin Sans", ui-sans-serif, system-ui, sans-serif;
  --font-alata: "Alata";

  /* Custom Colors */
  --color-strongCyan: hsl(171, 66%, 44%);
  --color-lightBlue: hsl(233, 100%, 69%);
  --color-darkGrayishBlue: hsl(210, 10%, 33%);
  --color-grayishBlue: hsl(201, 11%, 66%);

  /* Breakpoints */
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;
}

/* Dark mode variant */
@variant dark (&:where(.dark, .dark *));

/* Button cursor fix */
@layer base {
  h3 {
    @apply mb-8 text-4xl font-bold text-darkGrayishBlue md:text-5xl;
  }
  h5 {
    @apply mb-2 text-2xl font-bold text-darkGrayishBlue;
  }
  button {
    @apply cursor-pointer;
  }
}
